@mixin btn-reset {
    padding: 14px 14px;
    width: 180px;
    border: none;
    outline: none;
    background: #FCB72B;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;

    
}